
*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#p{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

select,option{
    padding: 10px 4px;
    border-radius: 5px;
}

.p-3{
    width: 50%;
    background-color: #f4f4f7;
    padding: 30px;
    border: none;
    font-size: medium;
    overflow: auto;
}

#start,#stop,#erase{
    padding:  2rem 3rem;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    background-color: blue;
    border: none;
}

.ButtonBox{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

#p{
    display: none;
}